
.promo-seacrh{
	 h2 {
	font-size: 56px;
	line-height: 67px;
	padding: 20px 0;
}

.description {
	font-size: 20px;
	line-height: 30px;
	color: #65665C;
	padding-bottom: 20px;
}

.fsearch {
	margin-right: 20px;
}

.btn-find {
	color: #FFF;
}
}
